<a href="{{link}}">
  <div class="card-counter {{theme}} count-item">
    <i class="{{icon}}"></i>
    <span class="count-numbers">{{count}}</span>
    <span class="count-name d-none d-xl-block">{{ getLangString title }}</span>
  </div>
</a>