<div class="d-md-block d-lg-none">
  <div class="text-center h1">
    <i class="fa fa-frown-o" aria-hidden="true"></i>
  </div>
  <div class="text-center h4">
    {{getLangString "resume.not-supported-display-size"}}
  </div>
</div>

<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-8 d-lg-table d-none">
      <div class="h4">
        {{ getLangString "resume.titles.experiences.volunteer" }}
      </div>
    </div>
    <div class="col-xs-4 d-lg-table d-none">
      <div class="btn-group pull-right">
        <span class="btn btn-success" id="add">
          <span class="fa fa-plus"></span>
        </span>
      </div>
    </div>
  </div>
</div>

<table class="table d-lg-table d-none">
  <thead>
    <tr class="text-center">
      <th scope="col">{{ getLangString "resume.experiences.volunteer.role" }}</th>
      <th scope="col">{{ getLangString "resume.experiences.volunteer.organization" }}</th>
      <th scope="col">{{ getLangString "resume.experiences.volunteer.startDate" }}</th>
      <th scope="col">{{ getLangString "resume.experiences.volunteer.endDate" }}</th>
      <th scope="col">{{ getLangString "resume.experiences.volunteer.currently" }}</th>
      <th scope="col">{{ getLangString "resume.experiences.volunteer.actions" }}</th>
    </tr>
  </thead>
  <tbody class="volunteerList"></tbody>
</table>