<div class="col-xs-12">
  <form id="professionalForm">
    <div class="form-group">
      <label for="title">{{ getLangString "resume.experiences.professional.title" }}</label>
      <input type="text" class="form-control" name="title" id="title" aria-describedby="titleHelp" value="{{ title }}"
        placeholder="{{ getLangString "resume.experiences.professional.titleExample" }}">
    </div>
    <div class="form-group">
      <label for="description">{{ getLangString "resume.experiences.professional.description" }}</label>
      <input type="text" class="form-control" name="description" id="description" aria-describedby="descriptionHelp"
        value="{{ description }}" placeholder="{{ getLangString "resume.experiences.professional.descriptionExample"
        }}">
    </div>
    <div class="form-group">
      <label for="company">{{ getLangString "resume.experiences.professional.company" }}</label>
      <input type="text" class="form-control" name="company" id="company" aria-describedby="companyHelp"
        value="{{ company }}" placeholder="{{ getLangString "resume.experiences.professional.companyExample" }}">
    </div>
    <div class="form-group">
      <label for="location">{{ getLangString "resume.experiences.professional.location" }}</label>
      <input type="text" class="form-control" name="location" id="location" aria-describedby="locationHelp"
        value="{{ location }}" placeholder="{{ getLangString "resume.experiences.professional.locationExample" }}">
    </div>
    <div class="form-group">
      <label for="startDate">{{ getLangString "resume.experiences.professional.startDate" }}</label>
      <input type="date" class="form-control" name="startDate" id="startDate" aria-describedby="startDateHelp"
        value="{{ formattedDateRange.startDate }}" placeholder="{{ getLangString "
        resume.experiences.professional.startDateExample" }}">
    </div>
    <div class="form-group">
      <label for="endDate">{{ getLangString "resume.experiences.professional.endDate" }}</label>
      <input type="date" class="form-control" name="endDate" id="endDate" aria-describedby="endDateHelp"
        value="{{ formattedDateRange.endDate }}" placeholder="{{ getLangString "
        resume.experiences.professional.endDateExample" }}">
    </div>
    <div class="form-group">
      <label class="checkbox-inline">
        {{ getLangString "resume.experiences.professional.currently" }}
        <input type="checkbox" id="currently" aria-describedby="currentlyHelp" {{#if currently}}checked{{/if}}></label>
    </div>
    <div class="form-group">
      <label>{{ getLangString "resume.importSource" }}</label>
      <div>{{ importSource }}</div>
    </div>
  </form>
</div>