<h6 class="dropdown-header">
  {{ getLangString "resume.titles.dashboard" }}
</h6>
<a href="#/resume" id="home" class="dropdown-item btn-primary">
  {{ getLangString "resume.titles.summary" }}
</a>
<a href="#/resume/experiences/working" id="experiences-working" class="dropdown-item btn-primary">
  {{ getLangString "resume.titles.experiences.professional" }}
</a>
<a href="#/resume/experiences/volunteering" id="experiences-volunteering" class="dropdown-item btn-primary">
  {{ getLangString "resume.titles.experiences.volunteer" }}
</a>
<a href="#/resume/educations" id="educations" class="dropdown-item btn-primary">
  {{ getLangString "resume.titles.education" }}
</a>
<a href="#/resume/certifications" id="certifications" class="dropdown-item btn-primary">
  {{ getLangString "resume.titles.certifications" }}
</a>
<a href="#/resume/skills" id="skills" class="dropdown-item btn-primary">
  {{ getLangString "resume.titles.skills" }}
</a>
<a href="#/resume/languages" id="languages" class="dropdown-item btn-primary">
  {{ getLangString "resume.titles.languages" }}
</a>
<a href="#/resume/publications" id="publications" class="dropdown-item btn-primary">
  {{ getLangString "resume.titles.publications" }}
</a>