<br />
<br />
<div class="col-xs-12">
  <div class="row center-xs">
    <div class="col-xs-12">
      <ul class="list-unstyled">
        <li>
          <a href="{{ getLangString "copyrightUrl" }}" target="_blank">
            Copyright © {{ getYear }} {{ getLangString "copyright" }}
          </a>
        </li>
      </ul>
      <ul class="list-unstyled">
        <li>
          <a href="{{ getLangString "developedByUrl" }}" target="_blank">
            {{ getLangString "developedBy" }}
          </a>
        </li>
        <li>
          <a href="{{ getLangString "reviewedByUrl" }}" target="_blank">
            {{ getLangString "reviewedBy" }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row center-xs">
    <div class="col-xs-12 col-md-2 col-sm-3 changeLanguageRegion"></div>
  </div>
</div>