<div class="col-xs-12 ">
  <form id="languageForm">
    <div class="form-group">
      <label for="name">{{ getLangString "resume.languages.name" }}</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" value="{{ name }}"
        placeholder="{{ getLangString "resume.languages.nameExample" }}">
    </div>
    <div class="form-group">
      <label for="proficiency">{{ getLangString "resume.languages.proficiency" }}</label>
      <select class="proficiency" id="proficiency"></select>
    </div>
    <div class="form-group">
      <label>{{ getLangString "resume.importSource" }}</label>
      <div>{{ importSource }}</div>
    </div>
  </form>
</div>