<label for="{{ id }}">{{ getLangString title }}</label>
<input type="{{ type }}" class="form-control" name={{ id }} id="{{ id }}" aria-describedby="{{ id }}Help"
       value="{{ value }}" placeholder="{{ getLangString example }}" {{#if readOnly}}disabled{{/if}}>