<div class="col-xs-12 ">
  <form id="skillForm">
    <div class="form-group">
      <label for="name">{{ getLangString "resume.skills.name" }}</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp" value="{{ name }}"
        placeholder="{{ getLangString "resume.skills.nameExample" }}">
    </div>
    {{#if importSource}}
      <div class="form-group">
        <label>{{ getLangString "resume.importSource" }}</label>
        <div>{{ importSource }}</div>
      </div>
    {{/if}}
  </form>
</div>
